/*
 Color Theme
{ color: #342359; }
{ color: #4A23D9; }
{ color: #2B2073; }
{ color: #04BF9D; }
{ color: #05F29B; }
*/

/* Font style

font-family: 'Charm', cursive;
font-family: 'Montserrat', sans-serif;

 */

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Montserrat&display=swap');

/* Header */
.Header {
  background-color: #342359;
  display: flex;
  height: 20vh;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}
.Header .Logo-img {
  text-align: center;
  width: 18rem;
}

.Logo-img {
  width: 30rem;
}

.Logo-img:hover{
  scroll-behavior: smooth;
  transform: rotateZ(13deg);
}

 /* Navbar */
.burger-btn{
  background: none;
  border: none;
  display: none;
} 
.burger-btn svg{
  fill: #04BF9D;
  border: 1px solid #04BF9D;
  padding: .1rem 1rem;
  margin: 0.5rem ;
  border-radius: 15px;
  text-align: center;
}

.navlink-burger{
  width: 70%;
  background-color: #04BF9D;
  padding: .5rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  margin: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #342359;
}
.Dropdown-menu{
  display: none;
}


.cont-Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.navlink {
  width: 30rem;
  background-color: #04BF9D;
  padding: .5rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  margin: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #342359;
}
.navlink:hover{
  background: #342359;
  color: #04BF9D;
  border: 1px solid #04BF9D;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bi-person-circle {
  fill: #04BF9D;
  padding: .5rem;
  border-radius: 15px;
  border: 1px solid #04BF9D;
  cursor: pointer;
}
.bi-person-circle:hover{
  fill: #342359;
  border: 1px solid #04BF9D;
  background: #04BF9D;
}
.Button-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/* HERO STYLES - START */

.Hero-container {
  min-height: 100vh;
  background-image: url('../../public/assets/heroWall.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Hero-titles img {
  /* backdrop-filter: blur(5px); */
  background: none;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.7));
}

.Hero-titles p {
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

/* CallToAction */
.Hero-titles .btn {
  cursor: pointer;
}

.imgCallTo {
  width: 7rem;
}
.imgCallTo:hover {
 transform: scale(1.1);
}
/* Slogan */

.Slogan-div{
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  border-radius: 30px;
  border: 1px solid gray;
  padding:  0 0.5rem;
  text-align: center;
}

.Slogan {
font-family: 'Montserrat', sans-serif;
color: #342359;
font-weight: bold;
text-shadow: 2px 0.5px aliceblue;
}



/* Carousel */
.Slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.Slider-div {
  width: 30%;
  height: 25rem;
  border: .5px solid gray;
  text-align: center;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  font-family: 'Charm', cursive;
  font-size: 20pt;
  background-color: aliceblue;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Slider-div p {
  margin: 1rem;
  font-family: 'Charm', cursive;
  color: #342359;
}

.Slider-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.Carousel-title {
  font-family: 'Charm', cursive;
  text-align: center;
  font-size: 2.5rem;
  padding: 0;
  margin: .5rem;
}

.Render-div-title {
  width: 30rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-self: center;
}

.Slider-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Button-carousel {
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Button-carousel:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Render-div {
  display: flex;
  flex-direction: column;
  background: #04BF9D;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Slider-div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Cities-Layout {
  min-height: 70vh;
  background: rgb(52, 35, 89);
  background: radial-gradient(circle, rgba(52, 35, 89, 1) 0%, rgba(4, 191, 157, 1) 100%);
  padding: 2rem;
  font-family: 'Charm', cursive;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

form {
  background: rgba(255, 255, 255, 0.2);
}

/* Not Available */

.NotAvailable {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

/* Footer*/

.Footer-container {
  min-height: 15vh;
  background-color: #342359;
  color: aliceblue;
  padding: 1rem;
  display: flex;
  gap:5rem;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.Footer-Nav {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer-Nav h5 {
  font-size: 15pt;
  margin: 0 0 1rem 0;
  text-decoration: underline;
}

.Nav-Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-navlink {
  text-decoration: none;
  padding: .4rem;
  color: aliceblue;
}

.footer-navlink:hover {
  border-radius: 5px;
  color: #04BF9D;
  border: 1px solid #04BF9D;
  cursor: pointer;
}

.icon-social {
  color: aliceblue;
  margin: 1rem;
}
.SocialButtons {
  margin: 1rem;
  width: 100%;
}

.SocialButtons svg {
  padding: .5rem;
}

.SocialButtons svg:hover {
  border-radius: 5px;
  color: #04BF9D;
  border-radius: 30pt;
  border: 1px solid #04BF9D;
  cursor: pointer;
}

.Footer-social {
  width: 33%;
  padding: 1rem 0;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.Footer-social a {
  text-decoration: none;
  color: aliceblue;
}

.Footer-map {
  background-image: url('../../public/assets/mapGoogle.jpg');
  border-radius: 15pt;
  background-size: cover;
  height: 10rem;
  width: 20rem;
  margin: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-map a{
  text-decoration: none;
  color: black;
  padding: .5rem;
  border-radius: 10pt;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.Footer-map a:hover{
  color: #04BF9D;
  border: 1px solid #04BF9D;
}


.Footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.Footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.ScrollToTop {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top:1px solid #34343490;
  padding-top: .2rem;
}

.ScrollToTop a,
p {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


.Button-Top {
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: none;
  color: aliceblue;
  padding: .2rem;
}

.Button-Top:hover {
  border-radius: 5px;
  color: #04BF9D;
  border: 1px solid #04BF9D;
  cursor: pointer;
}


/* FOOTER STYLES - END */

@media screen and (max-width: 768px) { 
  .burger-btn{
    display: block;
  }
  .cont-Nav{
    display: none;
  }
  .Header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .Dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .Footer-container{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .ScrollToTop{
    flex-direction: column-reverse;
    align-items: center;
    gap:0.5rem;
  }
  .Footer-map{
    width: 80%;
  }
  .Hero-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
  }
  .Logo-img {
    width: 85%;
    margin-top: 1rem;
  }
  .Button-carousel{
    display: none;
  }
  .Slider-container{
    width: 90%;
  }

  .Render-div-title {
    width: 80%;
  }

  .Slider-img {
    object-fit: cover;
  }
  .Slider-div {
    width: 90%;
  }
  .Carousel-title {
    font-size: 30px;
  }
  .imgCallTo{
    width: 7rem;

  }

  .Slogan-div {
    margin-bottom: 16rem;
    margin-top: 1rem;
  }

  
}

@media screen and (max-width: 1070px) { 
  .Footer-container{
    justify-content: center;
  }
  .Footer-social, .Footer-Nav{
    width: auto;
  }
  .imgCallTo{
    width: 7rem;

  }
  .Slider-div {
    width: 80%;
  }
  
}


/* CityCard */
.CityCard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.paper {
  width: 30rem;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
  background: white;
  text-align: center;
}

.paper:hover {
  box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
  transform: translateY(-1px);
}

.poster {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
  height: 20rem;
  object-fit: cover;
}

.title-city {
  font-size: 2.6rem;
  color: #303336;
  letter-spacing: 1px;
  font-family: 'Charm', cursive;

}

hr {
  width: 20%;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}

.p-city {
  margin: 2vh 4vw;
  text-align: justify;
  color: #343434;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  height: 10rem;
}

.btn-read {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: .02rem;
  background: #2B2073;
  color: white;
  font-size: .8rem;
  box-shadow: 0 0px 0px gray,
      0 0px 0px rgba(0, 0, 0, 0);
  margin: 1rem;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-end;
}

.btn-read:hover {
  background: #4A23D9;
  box-shadow: 0 7px 14px gray,
      0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(-1px);
}

.btn-read:active {
  box-shadow: 0 4px 6px gray,
      0 1px 3px rgba(0, 0, 0, .12);
  transform: translateY(1px);
}
