
 /*
 Color Theme
{ color: #342359; }
{ color: #4A23D9; }
{ color: #2B2073; }
{ color: #04BF9D; }
{ color: #05F29B; }
*/

/* Font style

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Montserrat&display=swap" rel="stylesheet">

font-family: 'Charm', cursive;
font-family: 'Montserrat', sans-serif;

 */

/* HERO STYLES - START */

.Hero-container{
    min-height: 100vh;
    background-image: url('../public/assets/heroWall.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hero-titles{
  width: 30rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin: 1rem;

}
.Hero-titles p{
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}
.Hero-titles h1, h2{
    font-family: 'Charm', cursive;
    font-weight: 700;
}
.Hero-titles h1{
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}
.Hero-titles h2{
    transform: translate(2rem, -1.5rem);
    margin: 0;
}
.Hero-titles button{
    font-family: 'Montserrat', sans-serif;
    background-color: #343434;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.Hero-titles button:hover{
  background-color: aliceblue;
  color: #343434;
  font-weight: bold;
  box-shadow: 2px 2px 2px #343434 ;
}




/* HERO STYLES - END */

/* FOOTER STYLES - START */
.Footer-container{
    min-height: 15vh;
    background-color: #343434;
    padding: 0 2rem;
}
.icon-social{
  color: aliceblue;
  margin: 1rem;
}
.Footer-social{
  padding: 1rem 0;
}
.Footer-map{
    background-image: url('../public/assets/mapGoogle.jpg');
    border-radius: 15pt;
    background-size: cover;
    height: 10rem;
    width: 20rem;
}

.contact-text{
  height: 2rem  !important ;
  
}

.contact-text a, .contact-text p, .text-developers a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.text-developers a{
padding: 0rem 2rem;
}
.text-developers {
  text-align: center;
  padding: 1rem 0;
}


.Footer-div{
  display: flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.Footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}
/* .contact-text p{
  padding-bottom: 2rem;
} */

/* FOOTER STYLES - END */